* {
	margin: 0;
	padding: 0;
	font-family: "raleway";
	user-select: none;
}

.midBlock {
	width: 1100px;
	margin: auto;
	height: 1100px;
	background: #f9ede3;
	box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

@font-face{
    font-family: "raleway"; /* Гарнитура шрифта */
    src: url("/font/raleway/Raleway-Regular.ttf"); /* Путь к файлу со шрифтом */
}

.header {
	width: 1100px;
	height: 70px;
	background: #ddccc1;
}
.headerButton {
	float: left;
	font-family: "raleway";
	position: relative;
}
.borderButton {
	position: absolute;
	width: 100%;
	height: 2px;
}

.borderLine {
	height: 100%;
	width: 0%;
	background: #946F55;
	margin: auto;
	transition-duration: 0.2s;
}

.button {
	display: inline-block;
	margin-left: 40px;
	margin-top: 15px;
	padding: 5px;
	cursor: pointer;
}

.headerButton > a {
	color: inherit;
	text-decoration: inherit;
}

.logo {
	float: right;
	width: 50px;
	height: 50px;
	margin-right: 60px;
	margin-top: 5px;
	font-family: "raleway";
	background-image: url(/img/logo.png);
	background-size: cover;
	background-position: center;
}

.message {
	height: 150px;
	width: 400px;
	margin: auto;
	margin-top: 30px;
	background: #ddccc1;
	border-radius: 5px;
	padding: 10px;
}

.pianoBlock {
	height: 180px;
	width: 550px;
	padding: 10px 0;
	margin: auto;
	margin-top: 30px;
}

.confirmButton {
	height: 27px;
	width: 60px;
	margin: auto;
	margin-top: 20px;
	background: #ddccc1;
	font-size: 20px;
	border-radius: 3px;
	padding: 7px 60px;
	text-align: center;
	cursor: pointer;
}

.piano {
	float:left;
	position: relative;
	width:420px;
	height: 180px;
	margin-left: 10px;
}

.whitebtn {
	float:left;
	height: 180px;
	width: 56.14px;
	border-right: 1px solid black;
	border-left:  1px solid black;
	border-bottom: 1px solid black;
	background: white;
	z-index: 1;
	transition-duration: 0.2s;
	border-radius: 0 0 4px 4px;
	border-top: 12px solid black;
}


.blackbtn {
	position: absolute;
	width: 32px;
	height: 110px;
	background: black;
	z-index: 2;
	border-radius: 0 0 4px 4px;
	transition-duration: 0.2s;
	border-top: 12px solid black;
}

#dod{ left:40px; } 
#red{left:98px;}
#fad{left:213px;}
#sod{left:270px;}
#lad{left:326px;}

.replayButton {
	width: 98px;
	height: 100px;
	background: #ddccc1;
	float:left;
	border: 1px solid;
	border-color: rgba(0,0,0,0.60);
	border-radius: 10px;
	margin-left: 20px;
	text-align: center;
	cursor: pointer;
	
}
body {
	background: #fffaf7;
}

#opa {
	margin: auto;
	margin-top: 40px;
	width: 100%;
	font-size: 20px;
}
