
* {
	margin: 0;
	padding: 0;
	user-select: none;
	font-family: "raleway";
}
a{
    text-decoration: inherit;
    color: inherit;
}
@font-face{
    font-family: "raleway"; /* Гарнитура шрифта */
    src: url("/font/raleway/Raleway-Regular.ttf"); /* Путь к файлу со шрифтом */
}

.midBlock {
	width: 1100px;
	margin: auto;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.header {
	width: 1100px;
	height: 70px;
	background: #ddccc1;
}
.headerButton {
	float: left;
	font-family: "raleway";
	position: relative;
}
.borderButton {
	position: absolute;
	width: 100%;
	height: 2px;
}

.borderLine {
	height: 100%;
	width: 0%;
	background: #946F55;
	margin: auto;
	transition-duration: 0.2s;
}

.button {
	display: inline-block;
	margin-left: 40px;
	margin-top: 15px;
	padding: 5px;
	cursor: pointer;
}

.headerButton > a {
	color: inherit;
	text-decoration: inherit;
}

.logo {
	float: right;
	width: 50px;
	height: 50px;
	margin-right: 60px;
	margin-top: 5px;
	font-family: "raleway";
	background-image: url(/img/logo.png);
	background-size: cover;
	background-position: center;
}

.block {
	width:100%;
	height: 100%;
	background: white;
}
.container {
	position: relative;
	width: 1100px;
	height: 300px;
	cursor: pointer;
}
.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background: #EEE6E2;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  font-size: 16px;
  text-align: left;
  cursor: default;
}

/*#container2:hover #overlay2 {
  bottom: 0;
  height: 100%;
}

#container3:hover #overlay3 {
  bottom: 0;
  height: 100%;
}*/

.classic {
	height: 250px;
	width: 360px;
	margin: 25px 5% 25px 10%;
	background: #ECDFD7;
	float:left;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.tit2 {
	margin-top: 20px;
}

ul {
	margin-left: 30px;
	margin-top: 15px;
	float:left;
}
.user > ul {
	width: 200px;
}
.user {
	height: 250px;
	width: 35%;
	margin: 25px 10% 25px 5%;
	float:left;
	background: #ECDFD7;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.form {
	float: left;
	width: 70px;
	margin-left: 50px;
	margin-top: 15px;
}

.asd {
	width: 100px;
}

.asd > select {
	margin-left: 30px;
}
.asd1 {
	margin-left: 40px;
}
.startButton {
	width: 100px;
	height: 20px;
	border: 1px solid black;
	text-align: center;
	margin: auto;
	margin-top: 165px;
	padding: 5px;
	cursor: pointer;
}

.qwe {
	margin-top: 15px;
	margin-left: 40px;
}
#first{
   /* padding-top: 20px;*/
    background: #ddccc1;
    font-size: 26px;
    font-family: Helvetica;
    text-align: center;
}
#second{
    /*padding-top: 20px;*/
    background: #f9ede3;
    font-size: 26px;
    font-family: Helvetica;
    text-align: center;
}
#third{
    /*padding-top: 20px;*/
    background: #ddccc1;
    font-size: 26px;
    font-family: Helvetica;
    text-align: center;
}
#button1{
    padding-left: 0px;
    
}
.title {
	font-size: 1.5em;
	text-align: left;
	padding: 110px 60px 0;
}

.fulldesc {
	width: 450px;
	font-size: 0.8em;
	text-align: inherit;
	position: relative;
	bottom: 80px;
	left: 600px;
	
}

.downline {
	position: relative;
	font-size: 0.6em;
	color:rgba(0,0,0,0.30);
	word-spacing: 30px;
	bottom: 15px;
}

body {
	background: #fffaf7;
}



#down2 {
	bottom: 40px;
}



#down3 {
	bottom: 30px;
}

#fourth{
    background: #f9ede3;
    font-size: 26px;
    font-family: Helvetica;
    text-align: center;
}

#chord {
	position:inherit;
}

#amtr3 {

}

div {
	
}

.theoryTest {
	margin-left: 30px;
	margin-right: 30px;
	padding-bottom: 5px;
	margin-top: 10px;
	border-bottom: 1px solid black;
	text-align: left;
	
}

.startButton:hover {
	background:#F2ECE9;
}

.startButton:active {
	box-shadow: 2px 2px  0 0 black;
}