@charset "utf-8";
/* CSS Document */
@font-face{
    font-family: "raleway"; /* Гарнитура шрифта */
    src: url("font/raleway/Raleway-Regular.ttf"); /* Путь к файлу со шрифтом */
}

*{
	margin: 0;
	padding: 0;
}

.shitBlockDeleteHim {
	position: absolute;
	z-index: 999;
	top: 300px;
	left: 130px;
	border: 1px solid blue;
}

.articlesBlock {
	width: 700px;
	height: 1200px;
	background: gray;
	margin: auto;
	position: relative;
}

.article {
	width: 650px;
	height: 1130px;
	position: absolute;
	padding: 25px;
	align: center;
}

#article1 {
	background: pink;
	
	
}

#article2 {
	background: grey;
	visibility: hidden;
}

#article3 {
	background: brown;
	visibility: hidden;
}

.fuckedUpBlock {
	width: 1200px;
	height: auto;
	margin: auto;
	position: relative;
}

.fuckingList {
	width: 240px; /* длина больш блока - 700px, среднего - 380px, длина блока со списками = (700-380)/2 = 160px */
	height: 300px;
	margin-right: 10px;
	border-radius: 5px;
	background: red;
	position: absolute;
	top: 100px;
	left: 0;
	/*transition-duration: 0.5s;*/
}

.header {
	width: 700px;
	height: 70px;
	background: yellow;
}
.headerButton {
	float: left;
	font-family: "raleway";
	position: relative;
}
.borderButton {
	position: absolute;
	width: 100%;
	height: 2px;
}

.borderLine {
	height: 100%;
	width: 0%;
	background: #946F55;
	margin: auto;
	transition-duration: 0.2s;
}

.button {
	display: inline-block;
	margin-left: 40px;
	margin-top: 15px;
	padding: 5px;
	cursor: pointer;
}

.logo {
	float: right;
	width: 50px;
	height: 50px;
	margin-right: 60px;
	margin-top: 2px;
	font-family: "raleway";
	background-image: url(img/logo.png);
	background-size: cover;
	background-position: center;
}

.listHeader {
	width: 100%;
	height: 40px;
	background: blue;
}

.listButton {
	float: right;
	height: 36px;
	width: 36px;     /* height = width */
	background: green;
	margin: 2px;
	cursor: pointer;
}

.title {
	width: 238px;
	height: 40px;
	border: 1px solid black;
	cursor: pointer;
}

.headerButton > a {
	color: inherit;
	text-decoration: inherit;
}